<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand text-warning" routerLink="/" (click)="returnHome()">Contacts</a>
  <form class="form-inline" *ngIf="!isHide">
    <input class="form-control mr-sm-2 text-capitalize" type="search" placeholder="Contact name" aria-label="Search" #search (input)="searchContact()"/>
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="searchContact()" [disabled]="searchName === ''">Search</button>
  </form>
</nav>
