<div class="wrapper">
  <div>
  <app-toolbar></app-toolbar>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div class="bg-secondary p-2 text-white">
    <app-footer></app-footer>
  </div>
</div>
