<div class="modal show mt-5" [ngStyle]="{display: isOpenModal ? 'block': 'none'}">
  <div class="modal-dialog text-white my-hover-white  border-white rounded text-center">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title text-warning">Contact information</h5>
        <button type="button" class="btn btn-danger font-weight-bold my-hover-red" (click)="onClose()">X</button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="modal-backdrop show" [ngStyle]="{display: isOpenModal ? 'block': 'none'}"></div>
