<div class="pt-5 font-italic">
  <h2 class="text-center text-warning">Edit contact</h2>
  <form (ngSubmit)="onSaveChangedContact()" #form="ngForm" class="p-0">
    <div class="p-3 col-lg-7 text-center m-auto">
      <div class="form-group mt-3">
        <label for="name" class="font-weight-bold text-warning h5">Contact name:</label>
        <input type="text" id="name" class="form-control my-hover-white" name="name" placeholder="Name" ngModel>
      </div>
      <div class="form-group mt-3">
        <label for="userName" class="font-weight-bold text-warning h5">User-name: </label>
        <input type="text" id="userName" class="form-control my-hover-white" name="username" placeholder="User-name" ngModel>
      </div>
      <div class="form-group mt-3">
        <label for="phone" class="font-weight-bold text-warning h5">Phone: </label>
        <input type="text" id="phone" class="form-control my-hover-white" name="phone" placeholder="Phone" ngModel>
      </div>
      <div class="form-group mt-3">
        <label for="website" class="font-weight-bold text-warning h5">Website: </label>
        <input type="text" id="website" class="form-control my-hover-white" name="website" placeholder="Website" ngModel>
      </div>
      <div class="form-group mt-3">
        <label for="email" class="font-weight-bold text-warning h5">Contact email: </label>
        <input type="text" id="email" class="form-control my-hover-white" name="email" placeholder="Email" ngModel>
      </div>
      <button type="submit" class="btn btn-success m-4  pl-4 pr-4  font-weight-bold my-hover-green">Save</button>
    </div>
  </form>
</div>
