<ng-container *ngIf="!loading, else preloader">
<h2 class="text-center font-italic text-warning p-2">{{ contactsArray? 'All contacts' : 'Oops, an error has occurred!'}}</h2>
<div class="m-3" *ngFor="let contact of contactsArray; let i = index" (click)="openModal(contact.id)">
  <div class="card p-1 m-auto rounded border-dark col-lg-6 my-hover-card bg-secondary">
    <h4 class="font-italic text-center text-white m-0 card-header p-0">Contact # {{ i + 1 }}</h4>
    <div class="card-body text-center">
      <h5 class="card-title">Contact name: {{ contact.name }}</h5>
      <p class="card-text">Email: {{ contact.email }}</p>
      <p class="card-text">Phone: {{ contact.phone }}</p>
    </div>
  </div>
</div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">
    <div></div>
    <div></div>
  </div>
</ng-template>

<app-modal [isOpenModal]="isOpenModal" (closeModal)="isClose()" *ngIf="contact">
  <div class="modal-body">
    <h4><span class="font-italic">Contact name:</span> {{ contact.name }}</h4>
    <p class="border-bottom p-1"><span
      class="font-weight-bold font-italic">Contact website: </span>{{ contact.website }}</p>
    <p class="border-bottom p-1"><span
      class="font-weight-bold font-italic">Contact user-name: </span>{{ contact.username }}</p>
    <p class="border-bottom p-1"><span class="font-weight-bold font-italic">Contact email: </span>{{ contact.email }}
    </p>
    <p class="border-bottom p-1"><span
      class="font-weight-bold font-italic">Contact address: </span>{{ contact.address.state }}
      - {{ contact.address.city }}</p>
    <p class="p-1"><span class="font-weight-bold font-italic">Contact phone: </span>{{ contact.phone }}</p>
  </div>
  <div class="modal-footer">
    <button (click)="onClickContact(contact.id, contact.name)" type="button"
            class="btn btn-warning font-weight-bold my-hover-orange mr-4" data-bs-dismiss="modal">Edit
    </button>
    <button (click)="isClose()" type="button" class="btn btn-danger font-weight-bold my-hover-red mr-2"
            data-bs-dismiss="modal">Close
    </button>
  </div>
</app-modal>
